@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

.custom-boba-icon {
  background: none !important;
  border: none !important;
}

.leaflet-popup-content-wrapper {
  border-radius: 0 !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3) !important;
}

.leaflet-popup-tip {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3) !important;
}
